.app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.game {
  margin: 2px;
  border: 4px solid #999;
  border-top-color: white;
  border-left-color: white;
  padding: 6px;
}